@{
    ViewData["Title"] = "Log in";
}

@model MvcCookieAuthSample.ViewModels.RegisterViewModel

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnUrl="@ViewData["returnUrl"]" asp-controller="Account" asp-action="Login" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>